$heading-font:  'Barlow Condensed', sans-serif;
$primary-font: 'Barlow', sans-serif;

$primary-color: hsl(0, 100%, 68%); // btn
$heading-color: hsl(230, 29%, 20%); //heading-text and nav
$lead-color: hsl(230, 11%, 40%); 
$gray-blue: hsl(231, 7%, 65%);
$light: hsl(207, 33%, 95%); //background

$desktop-width: 1440px;