@media (min-width:1000px){
    .show-sm{
        display:none;
    }
    .hide-sm{
        display:flex;
    }
    .flex-box{
        flex-direction: row;
    }
    .hero{
        .flex-box{
            flex-direction: row-reverse;
        }
       .main-vector{
        height: 350px;
        width:50%;
            img{
                height:250px;
                }
            }
       
        .hero-text{
                width:400px;
            }
    
    }


    .wrapper{
        padding: 0 12%;
    }
    .text-lead{
        letter-spacing: 6px;
    }
    .text-primary{
        width:45%;
    }
    .py-4{
        padding: 4rem 0;
    }
}

