//Layout

.hide-sm, .hide-on-click{
    display:none;
}
.display-on-click{
    display:block
}


.wrapper{
    padding: 0 4%;
}
.mt-2{
    margin-top:2rem;
}
.py-1{
    padding: 1rem 0;
}

.py-3{
    padding: 1.5rem 0;
}
.py-4{
    padding: 2rem 0;
}

.ml-1{
    margin-left:1rem;
}



//FLEX
.flex-box{
    display:flex;
    align-items: center;
    flex-direction: column;

    &.flex-between{
        justify-content: space-between;
    }
}

//TEXT
.text-lead{
    text-transform: uppercase;
    letter-spacing: 3px;
}


.heading-text{
    text-transform: uppercase;
    color: $heading-color;
    font-weight:700;
    font-family: $heading-font;
}

.x-large{
    font-size:3rem;
}


//Button
.btn{
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    text-transform: uppercase;
    border-radius: 5px;;
} 

.btn-primary{
    background: $primary-color;
    color: white;

    &:hover{
        filter: brightness(125%)
    }
}
