@import 'config';
@import 'utilities';

body{
 
    background: white;
    color: $gray-blue;
    font-family: $primary-font;
    font-size:12px;
    overflow-x: hidden;
    line-height: 1;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: $heading-color;

    &:hover{
        text-decoration: underline;
    }
}



li{
    list-style: none;
}

.container{
    max-width: $desktop-width;
    height: 800px;
    position: relative;
 
    &-bg{
        width:50%;
        height: 425px;
        content: "";
        position:absolute;
        right:0;
        top:0;
        background: $light;
        border-radius: 0 0 0 50px;
        z-index:-1;
    }
}

//////////////////////NAV BAR /////////////////////////
nav{
    font-family: $heading-font;
    color: $heading-color;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    
    .nav-dif{
        color: $gray-blue;
    }
    ul{
        display:flex;
        justify-content: space-between;
        align-items: center;

        li{
            margin-left:3rem;
        }
    }
}
.mobile-menu{
    display:block;
    width:300px;
    height:240px;
    position: absolute;
    background: white;
    bottom: -250px;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
    z-index:1;

    li{
        padding-top: 1rem;
    }
    
}

.menu-btn{
    cursor:pointer
}


//HERO

.hero{
    padding:0 4%;
    max-width: $desktop-width;

    .main-vector{
        height: 350px;
        width:100%;
        img{
            height:250px;
            
        }
    }
    &-text{
        height:300px;
        
    }
}

.black-background{
    padding: 3px 8px;
    color:white;
    background: $heading-color;
    border-radius: 16px;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import 'responsive'